.spinner-sector{
  border: 15px solid transparent;
  border-radius: 50%;
  mix-blend-mode: overlay;
  animation: 150ms ease-in-out infinite;
}

.spinner-sector-red{
  border-left-color: lightcoral;
}

.spinner-sector-blue{
  border-top-color: lightblue;
}

.spinner-sector-green{
  border-right-color: lightgreen;
}